:root {
  /* Typography */
  --font-family-sans: "Zen Kaku Gothic New", sans-serif;
  font-family: var(--font-family-sans);

  --heading-xl: clamp(28px, 3vw, 32px);
  --heading-l: 24px;
  --heading-m: 20px;
  --heading-s: 16px;
  --body-l: 16px;
  --body-m: 14px;
  --body-s: 12px;
  --label-m: 14px;
  --label-s: 12px;

  /* Colors */
  --primary-0: #FFFDFD;
  --primary-100: #FFD9D8;
  --primary-200: #FFB8B7;
  --primary-300: #FF9C9A;
  --primary-400: #FF8481;
  --primary-500: #FF6F6D;
  --primary-600: #f25f5c;
  --primary-700: #D45351;
  --primary-800: #B64745;
  --primary-900: #973B3A;
  --primary-950: #79302E;
  --primary: var(--primary-600);

  --neutral-0: #FCFDFD;
  --neutral-100: #D2D5D8;
  --neutral-200: #A8ADB2;
  --neutral-300: #7E858B;
  --neutral-400: #545C65;
  --neutral-500: #2A343D;
  --neutral-600: #010C15;
  --neutral-700: #010B12;
  --neutral-800: #010910;
  --neutral-900: #01080D;
  --neutral-950: #01060B;

  --success-0: #FCFFFD;
  --success-100: #D2FFD7;
  --success-200: #A8FDB4;
  --success-300: #7EF593;
  --success-400: #54E875;
  --success-500: #2AD658;
  --success-600: #0FBF3E;
  --success-700: #0DA736;
  --success-800: #0B8F2F;
  --success-900: #097727;
  --success-950: #08601F;
  --success: var(--success-600);

  --error-0: #FFFCFC;
  --error-100: #FFD2D2;
  --error-200: #FFA8A8;
  --error-300: #FF7E7E;
  --error-400: #FF5454;
  --error-500: #FF2A2A;
  --error-600: #FF0000;
  --error-700: #DF0000;
  --error-800: #BF0000;
  --error-900: #9F0000;
  --error-950: #800000;
  --error: var(--error-600);

  --info-0: #FCFEFF;
  --info-100: #D2E4FF;
  --info-200: #A8CBFF;
  --info-300: #7EB2F7;
  --info-400: #5499EB;
  --info-500: #2A7FD9;
  --info-600: #0A66C2;
  --info-700: #0959AA;
  --info-800: #084D92;
  --info-900: #064079;
  --info-950: #053361;
  --info: var(--info-600);

  --warning-0: #FFFFFC;
  --warning-100: #FFFBD2;
  --warning-200: #FFF3A8;
  --warning-300: #FFE97E;
  --warning-400: #FFDC54;
  --warning-500: #FFCB2A;
  --warning-600: #fab80a;
  --warning-700: #DBA109;
  --warning-800: #BC8A08;
  --warning-900: #9C7306;
  --warning-950: #7D5C05;
  --warning: var(--warning-600);

  --shadow-0: rgba(0, 0, 0, 0.05);
  --shadow-50: rgba(0, 0, 0, 0.1);
  --shadow-100: rgba(0, 0, 0, 0.15);
  --shadow-200: rgba(0, 0, 0, 0.2);
  --shadow-300: rgba(0, 0, 0, 0.3);
  --shadow-400: rgba(0, 0, 0, 0.4);
  --shadow-500: rgba(0, 0, 0, 0.5);
  --shadow-600: rgba(0, 0, 0, 0.6);
  --shadow-700: rgba(0, 0, 0, 0.7);
  --shadow-800: rgba(0, 0, 0, 0.8);
  --shadow-900: rgba(0, 0, 0, 0.9);
  --shadow-950: rgba(0, 0, 0, 0.95);

  --overlay-0: rgba(255, 255, 255, 0.05);
  --overlay-50: rgba(255, 255, 255, 0.1);
  --overlay-100: rgba(255, 255, 255, 0.15);
  --overlay-200: rgba(255, 255, 255, 0.2);
  --overlay-300: rgba(255, 255, 255, 0.3);
  --overlay-400: rgba(255, 255, 255, 0.4);
  --overlay-500: rgba(255, 255, 255, 0.5);
  --overlay-600: rgba(255, 255, 255, 0.6);
  --overlay-700: rgba(255, 255, 255, 0.7);
  --overlay-800: rgba(255, 255, 255, 0.8);
  --overlay-900: rgba(255, 255, 255, 0.9);
  --overlay-950: rgba(255, 255, 255, 0.95);
}